// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";
@import "blueprint/fancy_type";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import "compass/css3";
@import "compass/utilities";

$content-background: #FFF;
$default-background: #C2DFFF;
$default-border: #6698FF;
$hover-border: #1589FF;
$active-border: #348781;

@mixin ui-state-default {
  background-color: $default-background;
  border: 1px solid $default-border;
  @include border-radius(15px, 15px);
}

@mixin ui-state-active {
  border: 1px solid $active-border;
}

body {
  @include fancy-type;
  background-color: $default-background;
  padding-top: 20px;
}

button {
  @include button-colors( #000, $default-background, $default-border );
  @include button-hover-colors( #000, $default-background, $hover-border );
  @include border-radius(15px, 15px);
  border-width: 1px;
  
  &.hover{
    @extend button:hover;
  }
}

#dropzone {
  display: none;
  height: 100px;
  @include ui-state-default;
  &.active {
    @include ui-state-active
  }
}

#container {
  background-color: $content-background;
  //border: 1px solid $default-border;
  @include border-radius(15px, 15px);
  padding: 20px 40px;
  #header,
  #footer {
    text-align: center;
  }
  #sidebar {
    a {
      @include link-colors( $default-border, $hover-border, $active-border );
    }
    font-size: 16px;
    & > ul {
      padding-left: 0;
    }
    ul ul {
      padding-left: 25px;
    }
    li {
      list-style: none;
    }
  }
  #content {
    min-height: 600px;
    font-size: 20px;
  }
}

#qunit-fixture {
  height: 250px;
}
